<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{body}}</p>
  <p>Created by {{user.name}} on {{form_date createdAt}}</p>
  <p>
    <span for="img" aria-label="money">💲</span>
    <span class="dollar-amount">{{ quote}}</span>
    needed
  </p>
  <p>
    <button class="btn btn-primary" id="accepted">Accept Offer</button>
  </p>
</div>

<script src="/js/accept.js"></script>